@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;

  font-family: 'Geist', sans-serif; 
  letter-spacing: -0.02em; 

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: inherit;
}